<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{title}}</h1>
  <h2>{{subtitle}}</h2>
</div>
<div>
  {{error}}
</div>
<div class="table-wrap">
  <table class="fixed_header">
    <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Company</th>
      <th>Organization Number</th>
      <th>URL</th>
      <th>Address</th>
      <th>City</th>
      <th>Zip</th>
      <th>Geo</th>
      <th>Pan</th>
      <th>Pin</th>
      <th>Status</th>
      <th>Fee</th>
      <th>Entry Date</th>
      <th>First Date</th>
      <th>Recent Date</th>
      <th>Exit Date</th>
      <th></th>
    </tr>
    </thead>
    <tr *ngFor="let s of sampleData | paginate: { itemsPerPage: 20, currentPage: p }">
      <td class="tableWordWrap">{{s.name}}</td>
      <td class="tableWordWrap">{{s.phone}}</td>
      <td class="tableWordWrap">{{s.email}}</td>
      <td class="tableWordWrap">{{s.company}}</td>
      <td class="tableWordWrap">{{s.org_num}}</td>
      <td class="tableWordWrap">{{s.url}}</td>
      <td class="tableWordWrap">{{s.address_1}}</td>
      <td class="tableWordWrap">{{s.city}}</td>
      <td class="tableWordWrap">{{s.zip}}</td>
      <td class="tableWordWrap">{{s.geo}}</td>
      <td class="tableWordWrap">{{s.pan}}</td>
      <td class="tableWordWrap">{{s.pin}}</td>
      <td class="tableWordWrap">{{s.status}}</td>
      <td class="tableWordWrap">{{s.fee}}</td>
      <td class="tableWordWrap">{{s.date_entry | date}}</td>
      <td class="tableWordWrap">{{s.date_first | date}}</td>
      <td class="tableWordWrap">{{s.date_recent | date}}</td>
      <td class="tableWordWrap">{{s.date_exit | date}}</td>
      <td class="tableWordWrap"><button class="table-button" (click)="postSampleData(s)">Submit</button></td>
    </tr>
    <tfoot class="fixed-footer">
      <tr><pagination-controls (pageChange)="p = $event"></pagination-controls></tr>
    </tfoot>
  </table>
</div>

