.table-wrap {
  padding: 3em;
  overflow: scroll;
  height: 70vh;
  table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    height: 50vh;
    overflow: auto;
    .fixed_header {
      display:block;
      overflow-x: scroll;
      height:60vh;
      width:100%;
    }
    tbody {
      display:block;
      overflow-x: scroll;
      height:60vh;
      width:100%;
      .table-button {
        background: cadetblue;
        color:#fff;
      }
    }
    .fixed-footer {
      width: 100%;
      tr {
        text-align: left;
      }
    }
  }
  th, td {
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 100px !important;
    max-width: 100px !important;
    text-align: left;
    padding: 8px;
  }
}
.fixed_header thead, tfoot {
  background: cadetblue;
  color:#fff;
}
.fixed_header thead tr {
  display:block;
}
.tableWordWrap {
  word-wrap: break-word;
}

